@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Audiowide", Courier, monospace;
}
/* LANDING PAGE */

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.hero-banner {
  background-image: url("./../img/pacman_background_mobile.png");
  height: 100vh;
}

.hero__content {
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* HERO BUTTON */
h1 {
  color: white;
  font-size: 4em;
}
#start {
  padding: 5px 10px;
  font-family: "Audiowide", Courier, monospace;
  background: transparent;
  border-radius: 10px;
  border: 1px solid white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e72683,
    0 0 25px #e72683, 0 0 30px #e72683, 0 0 35px #e72683, 0 0 40px #e72683;
}

h1 {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  text-align: center;
}

#start a {
  text-decoration: none;
  font-size: 2em;
  color: #fff;
}

#start:hover {
  opacity: 50%;
}

/* TRANSITION BANNER */

.transition_banner {
  background-image: url("./../img/pacman_transition.jpg");
  background-position: center;
  height: 40vh;
  background-color: #111;
  transition: transform 0.7s ease-in-out;
}
.transition_banner:hover {
  transform: spin(360deg);
}

/* GAME  */

.game__content {
  background-image: url("./../img/wallpaperflare.jpg");
  background-position: bottom;
  color: white;
}
.game__info {
  padding: 0 30px;
}
#game__intro {
  text-align: center;
}
.game__title {
  margin-bottom: 20px;
}
.maze {
  background-color: black;
  display: block;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  width: 100%;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #4643f7,
    0 0 0.8rem #4643f7, 0 0 2.8rem #4643f7, inset 0 0 1.3rem #4643f7;
}

.score,
.lives {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
}
/* CELL STYLE  */
.cell {
  background-color: black;
  padding: 1px;
  margin: 1px;
  max-width: 20px;
  max-height: 20px;
}

.current {
  background-image: url("./../img/pacman-right.png");
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.current.left {
  transform: scaleX(-1);
}
.current.down {
  rotate: 90deg;
}
.current.up {
  rotate: -90deg;
}

/* .pacman-right {
  background-image: url("./../img/pacman-right.png");
}
.pacman-left {
  background-image: url("./../img/pacman-right.png");
} */
.wall {
  background-color: rgb(26, 13, 212);
}

.corner-top-left {
  border-left: 1px solid #e72683;
  border-top: 1px solid #e72683;
}
.corner-top-right {
  border-right: 1px solid #e72683;
  border-top: 1px solid #e72683;
}
.corner-bottom-left {
  border-bottom: 1px solid #e72683;
  border-left: 1px solid #e72683;
}
.corner-bottom-right {
  border-bottom: 1px solid #e72683;
  border-right: 1px solid #e72683;
}

.right-border {
  border-right: 1px solid #e72683;
}
.top-border {
  border-top: 1px solid #e72683;
}
.left-border {
  border-left: 1px solid #e72683;
}
.bottom-border {
  border-bottom: 1px solid #e72683;
}
/* PACMAN ELEMENTS */

.point {
  background-color: rgb(0, 0, 0);
  color: green;
  text-align: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e72683,
    0 0 25px #e72683, 0 0 30px #e72683, 0 0 35px #e72683, 0 0 40px #e72683;
}
.maxi-point {
  color: palevioletred;
  text-align: center;
}

.hidden {
  display: none;
}

.ghost3 {
  background-image: url("./../img/ghost1-pacman.png");
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ghost2 {
  background-image: url("./../img/ghost2-pacman.png");
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mobile-commands {
  display: flex;
  justify-content: space-around;
}

.cmd {
  background-color: #ff8d00;
  color: black;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

/* DIALOGS  */

dialog {
  line-height: 1.75;
  margin: auto;
  max-width: 50%;
  padding: 60px;
  color: white;
  background: transparent;
  border-radius: 35px;
  border: 1px solid white;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #4643f7,
    0 0 0.8rem #4643f7, 0 0 2.8rem #4643f7, inset 0 0 1.3rem #4643f7;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  font-family: "Audiowide", Courier, monospace;
  background: white;
  color: #0037ff;
  border-radius: 10px;
  border: 1px solid white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e72683,
    0 0 25px rem #4643f7, 0 0 2.8rem #4643f7, inset 0 0 1.3rem #4643f7;
}

dialog button:hover {
  opacity: 50%;
}
/* MEDIA QUERIES */

@media (min-width: 615px) {
  .hero-banner {
    background-image: url("./../img/pacman_background_1.png");
  }

  h1 {
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }

  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      /*     color: #fccaff;
            text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
            0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      /*     color: #fccaff;
            text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
            0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
}
@media (min-width: 644px) {
  .maze {
    max-width: 615px;
  }
}

@media (min-width: 1000px) {
  .game__content {
    display: flex;
    justify-content: space-between;
  }

  .game__info {
    width: 30%;
    margin: auto;
    padding: 0 20px;
    line-height: 1.75;
  }

  .maze {
    max-width: 615px;
  }

  dialog {
    max-width: 20%;
    line-height: 2;
  }
}
