*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maze {
  background-color: darkblue;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  width: 100%;
  max-width: fit-content;
}

.cell {
  background-color: aquamarine;
  padding: 1px;
  margin: 1px;
  width: 20px;
  height: 20px;
}

.current {
  background-image: url("./../img/pacman.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.wall {
  background-color: black;
}

.point {
  background-color: aquamarine;
  color: green;
  text-align: center;
}
.maxi-point {
  color: palevioletred;
  text-align: center;
}

.hidden {
  display: none;
}

.ghost2 {
  background-image: url("./../img/ghost2-pacman.png");
}
.ghost3 {
  background-image: url("./../img/ghost1-pacman.png");
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
